.square {
    width: 25%;
    padding-bottom: 25%;
    /* height: 200px; */
    /* background: #343a40; */
    border-radius: 30px;
}

/* html, body {
    height: 100%;
    width: 100%;
    background: #343a40;
  } */

  .correct-jumotron {
      color: white;
  }